<ion-header mode="ios">
   <ion-toolbar class="header-toolbar">
      <form action="javascript:return true;">
         <ion-searchbar mode="ios" class="mysearch" type="search" (keyup)="search($event)" id="sb_album"
            placeholder="{{'tab2.header-sb-placeholder' | translate}}"></ion-searchbar>
         <button style="display:none"></button>
      </form>
      <!--<ion-searchbar (ionInput)="search($event)" id="sb_album" placeholder="{{'tab2.header-sb-placeholder' | translate}}"></ion-searchbar>-->

      <ion-buttons slot="start">
         <ion-button (click)="cancel(false)" color="danger">
            <ion-icon name="ios-arrow-back"></ion-icon>
         </ion-button>
      </ion-buttons>
      <!--
        <ion-buttons slot="start">
            <ion-back-button>s</ion-back-button>
        </ion-buttons>
      -->
   </ion-toolbar>
</ion-header>

<ion-content>

   <div class="result-header" *ngIf="(title != '')">
      <div class="result-header-button" *ngIf="(tracks.length > 0)">
         <ion-button (click)="playTracks()" color="danger" size="small">
            <ion-icon slot="start" name="ios-play"></ion-icon>
            {{'common.playall' | translate}}
         </ion-button>
      </div>
      <div class="result-header-title">
         {{tracks.length}} {{'tracklist.tracks' | translate}}
      </div>
   </div>
   <ion-list class="list-2" lines="none" id="il-track">
      <ion-item button detail="false" *ngFor="let item of tracks,let i = index" (click)="playTrack(item,i);">
         <div item-start class="track-seq" *ngIf="(showTrackSeq)">{{(i + 1)}}</div>
         <ion-label>
            <span class="track-title">{{item.track}}</span><br>
            <div>
               <span class="track-audioType">{{item.audioType}}</span>
               <span class="track-sampleRate">{{item.sampleRate}}</span>
               <span class="track-artist">{{item.artist}} - {{item.album}}</span>
            </div>
         </ion-label>
         <!-- <ion-icon name="volume-high" *ngIf="item.fileUrl == playFileUrl" color="warning" class="track-isPlaying"></ion-icon> -->
         <!-- <ion-buttons slot="end" *ngIf="!item.isPlaying" >
            <ion-button (click)="playTrack(item,i);" color="danger">
              <ion-icon name="logo-youtube" class="track-playbutton"></ion-icon> 
            </ion-button>
         </ion-buttons> -->
         <ion-buttons slot="end">
            <ion-button (click)="trackAction(item,i);" color="danger">
               <!-- <ion-icon name="more" class="track-playbutton"></ion-icon>  -->
               <svg t="1574989236163" class="icon" viewBox="0 0 1024 1024" version="1.1"
                  xmlns="http://www.w3.org/2000/svg" p-id="8818" width="28" height="28">
                  <path
                     d="M490.666667 384C526.012885 384 554.666667 355.346347 554.666667 320 554.666667 284.653653 526.012885 256 490.666667 256 455.320448 256 426.666667 284.653653 426.666667 320 426.666667 355.346347 455.320448 384 490.666667 384ZM490.666667 618.666667C526.012885 618.666667 554.666667 590.013013 554.666667 554.666667 554.666667 519.32032 526.012885 490.666667 490.666667 490.666667 455.320448 490.666667 426.666667 519.32032 426.666667 554.666667 426.666667 590.013013 455.320448 618.666667 490.666667 618.666667ZM490.666667 853.333333C526.012885 853.333333 554.666667 824.67968 554.666667 789.333333 554.666667 753.986987 526.012885 725.333333 490.666667 725.333333 455.320448 725.333333 426.666667 753.986987 426.666667 789.333333 426.666667 824.67968 455.320448 853.333333 490.666667 853.333333Z"
                     p-id="8819" fill="red"></path>
               </svg>
            </ion-button>
         </ion-buttons>
      </ion-item>
      <ion-item lines="none"></ion-item>
   </ion-list>
</ion-content>