ion-content{
    --ion-background-color: #fff;
}

.header-toolbar{
    --border-width: 0 !important;

}

.result-header{
  // display: inline-block;
  position: relative;
  height: 35px;
  border-bottom: solid 1px #ddd;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.result-header-title{
  position: absolute;
  bottom: 8px;
  left: 0px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.4);  
}

.result-header-button{
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.track-seq{
    /*width: 30px !important;*/
    margin: 0 auto;
    margin-right: 10px;
    font-size: 0.6 rem;
}

.track-playbutton{
    font-size: 1.3rem;
    // margin-right: 10px !important;
    margin: 0 auto; 
}

.track-title{
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    word-break: break-all;
    white-space: normal;
}

.track-artist{
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.4);
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.track-audioType{
    text-transform:capitalize;
    text-overflow: ellipsis;
    font-size: 0.6rem;
    line-height: 0.9rem;
    color: #ffce00;
    border: 1px solid #ffce00;
    border-radius: 3px;
    margin: 0 auto;
    margin-right: 5px;
    padding: 1px;
  }
  
  .track-sampleRate{
    text-transform:capitalize;
    text-overflow: ellipsis;
    font-size: 0.6rem;
    line-height: 0.9rem;
    color:#7ecfc0;
    border: 1px solid #7ecfc0;
    border-radius: 3px;
    margin: 0 auto;
    margin-right: 5px;
    padding: 1px;
}

.track-isPlaying{
    margin-right: 10px !important;
    margin: 0 auto; 
}

 