
.main-box{
}

.svg-monitor{
  color: #333;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.svg-shutdown{
  color: #333;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.item-text{
  color: #333;
  font-size: 1rem;
  // text-transform: uppercase;
}