<ion-header mode="ios">
   <ion-toolbar class="header-toolbar">
      <ion-title class="header-title">{{headerTitle}}</ion-title>
      <ion-buttons slot="start">
         <ion-button (click)="cancel(false)" color="danger">
            <ion-icon name="ios-arrow-back"></ion-icon>
         </ion-button>
      </ion-buttons>
      <!--
        <ion-buttons slot="start">
            <ion-back-button>s</ion-back-button>
        </ion-buttons>
      -->
   </ion-toolbar>
   <ion-card mode="ios">
      <div class="card-img-box">
         <img src="{{coverImg}}" class="card-img" />
      </div>
      <div class="card-text-box">
         <div class="card-title">{{title}}</div>
         <!--<div class="card-subtitle">{{(nowIdx + 1)}} / {{tracks.length}} {{'search.tracks' | translate}}</div>-->
         <p class="card-subtitle">
            {{totalTracks}} {{'tracklist.tracks' | translate}}
         </p>
         <div class="card-subtitle">
            <ion-button (click)="playTracks()" color="danger" size="small">
               <ion-icon slot="start" name="ios-play"></ion-icon>
               {{'common.playall' | translate}}
            </ion-button>
         </div>
      </div>
   </ion-card>

   <ion-toolbar>
      <ion-searchbar mode="ios" (ionChange)="handleSbInput1($event)" (keyup)="sbKeyup($event)" id="sb-track"
         placeholder="{{'common.search-placeholder' | translate}}"></ion-searchbar>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-list class="list-2" lines="none" id="il-track-12345">
      <ion-item button detail="false" (click)="playTrack(item,i);" *ngFor="let item of showTracks,let i = index"
         lines="none">
         <!-- <div item-start class="track-seq" *ngIf="(showTrackSeq)">{{(i + 1)}}</div> -->
         <div item-start class="track-seq" *ngIf="(showTrackSeq)">
            <span *ngIf="!item.isPlaying">{{(i + 1)}}</span>
            <ion-icon name="volume-high" *ngIf="item.isPlaying" color="warning" class="track-isPlaying"></ion-icon>
         </div>         
         <ion-label>
            <span class="track-title">{{item.track}}</span><br>
            <div>
               <span class="track-audioType">{{item.audioType}}</span>
               <span class="track-sampleRate">{{item.sampleRate}}</span>
               <span class="track-artist">{{item.artist}} - {{item.album}}</span>
            </div>
         </ion-label>
         <ion-icon name="volume-high" *ngIf="item.fileUrl == playFileUrl" color="warning" class="track-isPlaying">
         </ion-icon>
         <!-- <ion-buttons item-end *ngIf="item.fileUrl != playFileUrl" >
               <ion-button (click)="playTrack(item);" color="danger">
                 <ion-icon name="logo-youtube" class="track-playbutton"></ion-icon> 
               </ion-button>
         </ion-buttons> -->
         <ion-buttons slot="end">
            <ion-button (click)="trackAction(item,i);" color="danger">
               <!-- <ion-icon name="more" class="track-playbutton"></ion-icon>  -->
               <svg t="1574989236163" class="icon" viewBox="0 0 1024 1024" version="1.1"
                  xmlns="http://www.w3.org/2000/svg" p-id="8818" width="28" height="28">
                  <path
                     d="M490.666667 384C526.012885 384 554.666667 355.346347 554.666667 320 554.666667 284.653653 526.012885 256 490.666667 256 455.320448 256 426.666667 284.653653 426.666667 320 426.666667 355.346347 455.320448 384 490.666667 384ZM490.666667 618.666667C526.012885 618.666667 554.666667 590.013013 554.666667 554.666667 554.666667 519.32032 526.012885 490.666667 490.666667 490.666667 455.320448 490.666667 426.666667 519.32032 426.666667 554.666667 426.666667 590.013013 455.320448 618.666667 490.666667 618.666667ZM490.666667 853.333333C526.012885 853.333333 554.666667 824.67968 554.666667 789.333333 554.666667 753.986987 526.012885 725.333333 490.666667 725.333333 455.320448 725.333333 426.666667 753.986987 426.666667 789.333333 426.666667 824.67968 455.320448 853.333333 490.666667 853.333333Z"
                     p-id="8819" fill="red"></path>
               </svg>
            </ion-button>
         </ion-buttons>
      </ion-item>
      <ion-item lines="none"></ion-item>
   </ion-list>

   <ion-infinite-scroll #IonInfiniteScroll threshold="100px" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" immediate-check="false" loadingText="">
      </ion-infinite-scroll-content>
   </ion-infinite-scroll>
</ion-content>