.tab-selected{

    color: #ff4a4a !important;

}

.tab-icon{
    font-size: 1.6rem;
    margin-bottom: 3px;
}

.tab-bar{
    background-color: none;
    border: 0px;
    box-shadow: 0px 1px 4px #ccc;
}

.tab-text{
    font-size: 12px;
}
.tab-img{
    margin-bottom: 2px;
}