ion-content{
    --ion-background-color: #fff;
}

.header-toolbar{
    --border-width: 0 !important;

}

.list-1{
    margin-top: 0px;
}
.header-title{
    text-align:left;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 10px;
    color: #222;
}

.search-bar{
    margin-top: 10px;
}

.playlist-icon{
    margin-right: 8px;
    margin-top: 5px;
}

.item-title{
    color: #333;
    font-size: 1rem;
}

.item-count{
    display:inline-block;
    background-color: #e5e5e5;
    border-radius: 10px;
    color: #999;
    font-size: 0.7rem;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}
