ion-content{
    --ion-background-color: #fff;
}

.header-toolbar{
    --border-width: 0 !important;

}

.list-1{
    margin-top: 0px;
}
.header-title{
    text-align:left;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 10px;
    color: #222;
}

.search-bar{
    margin-top: 10px;
}

.playlist-icon{
    margin-right: 8px;
}

.item-title{
    color: #333;
}
